[Unit]
Description=Guest {{ metadata.name }} ({{ metadata.uuid }})

[Service]
Type=forking
ExecStart=/var/lib/hypervisor/guests/{{ metadata.name }}/manage.sh up
ExecStop=/var/lib/hypervisor/guests/{{ metadata.name }}/manage.sh down
Restart=on-failure
PIDFile=/run/hypervisor/guest-{{ metadata.name }}-{{ metadata.uuid }}.pid

[Install]
WantedBy=multi-user.target
